<!doctype html>
<html>
<head>
<title>
        Personal tweet page
</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
        <%=msg.name%> says <q><%=msg.tweet%></q>
        <a href="/back"> Back </a>
</body>
</html>
