<!doctype html>
<html>
  <head>
    <title>Post your tweet</title>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <style>
      .header {
        height: 50px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }

      .brand-name {
        color: #456;
        font-size: 30px;
      }

      nav a {
        color: #444;
        padding: 0 10px;
      }

      .container {
        padding-top: 20px;
      }

      .container form {
        background-color: sky;
        padding: 10px;
        margin-bottom: 10px;
      }

      ul {
        list-style-type: none;
      }

      li {
        padding: 10px;
        border-bottom: 3px solid #ddd;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <a class="brand-name">twittor</a>
      <nav>
        <a>About</a>
        <a>Signup</a>
        <a>Login</a>
      </nav>
    </div>
    <div class="container">
      <form method="post" action="/create">
        <p><strong> Your Name </strong><input type='text' name='author' placeholder='Enter your name here'/></p>
        <p><textarea rows='5' cols='20'  name='tweets' placeholder='Enter your tweet here' height='50px' width='80px'></textarea></p>
        <input type='submit' value='Post your tweet'/>
    </form>
      <ul class="user-list">
        <h2> List of Users </h2>
        <%list.forEach(function(el,i){%>
        <li> <a href=<%="/"+i%>> <%=el.user_name%> </a> </li>
        <%})%>
      </ul>
    </div>
    <!-- <script src="/javascripts/jquery.js"></script> -->
    <!-- <script src="/javascripts/tweet_jquery.js"></script> -->
  </body>
</html>
