<!doctype html>
<html>
  <head>
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <body>
      <div class="header">
        <span class="left"><h2>Login into your account</h2></span>
        <span class="options"><abbr title="Click to goback to Home page"> <a href="/">Home</a></abbr></span>
      </div>
      <div class="middle">
        <div class="content">
          <div class="form_login">
            <form method="post" action="/login/checking_details">
              <p>Enter your mail address</p>
              <input type="email" placeholder="abc@xyz.com" name="email_id">
              <p>Enter Password</p>
              <input type="password" placeholder="write your password" name="password">
              <p><input type="Submit" value="click to proceed"></p>
            </form>
          </div>
        </div>
      </div>
    </body>
</html>
