<!doctype html>
<html>
<head>
        <title>Signing up</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
        <div class="header">
             <span class="left"> <h2> Create your twitter account </h2></span>
             <span class="options"><abbr title="Click to goback to Home page"> <a href="/">Home</a></abbr></span>
        </div>
        <div class="content">
             <div class="middle">
                 <form method="post" action="/sign_up/create">
                       <p>User Name</p>
                       <input type="text" placeholder="Enter your user name" name="user_name">
                       <p>Email Address</p>
                       <input type="email" placeholder="abc@xyz.com" name="email">
                       <p>Create Password</p>
                       <input type="password" placeholder="Enter new password" name="con_pass">
                       <p><input type="submit" value="Sign Up"></p>
                 </form>
             </div>

        </div>
</body>
</html>
