<!doctype html>
<html>
<head>
        <title> Welcome to Twitter! </title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<body>
        <div class=header>
             <span class="left"> <h2>Home Page </h2></span>
             <div class="image">
                  <img src="/images/twitter_geotagging-300x276.jpeg" alt="Twitter" height="120px" width="200px">
             </div>
             <nav class="options">
             <abbr title="Click to discover more about twitter"> <a href="https://about.twitter.com/"> About </abbr> </a>
             <abbr title="Have you a twitter account? Then click it to login"> <a href="/login"> Login </abbr> </a>
             <abbr title="Are you new to twitter? Then click it to create your own account"> <a href="/sign_up"> Sign Up </abbr> </a>
             </nav>
        </div>
        <div class="content">
             <img src="/images/people_with_talk_bubbles.jpeg" alt="Twitter, connecting people" height="800" width="1550 px" >
        </div>
</body>
</html>
