<!doctype html>
<html>
  <head>
    <title>Twitter</title>
    <script src="/javascripts/JSXTransformer.js"></script>
    <script src="/javascripts/react.js"></script>
    <script src="/javascripts/ReactRouter.js"></script>
    <script src="/javascripts/ajax.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_new.css"></link>
  </head>
  <body>

    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
