<!doctype html>
<html>
<head>
        <title> Welcome to Twitter! </title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <script src="/javascripts/react.js"></script>
        <script src="/javascripts/JSXTransformer.js"></script>

</head>

<body>
        <div class=header>
             <span class="left"> <h2>Home Page </h2></span>
             <nav class="options">

             </nav>
        </div>
        <div class="content">
             <img src="/images/people_with_talk_bubbles.jpeg" alt="Twitter, connecting people" height="800" width="1550 px" >
        </div>
        <script src="/components/home.jsx" type="text/jsx"> </script>
</body>
</html>
