<!doctype html>
<html>
  <head>
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/javascripts/react.js"></script>
    <script src="/javascripts/JSXTransformer.js"></script>
    <body>
      <div class="header">
        <span class="left"><h2>Login into your account</h2></span>
        <span class="options"><abbr title="Click to goback to Home page"> <a href="/">Home</a></abbr></span>
      </div>
      <div class="middle">
      </div>
      <script src="/components/login.jsx" type="text/jsx"> </script>
    </body>
</html>
