<!doctype html>
<html>
  <head>
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <script src="/javascripts/JSXTransformer.js"></script>
    <script src="/javascripts/ajax.js"></script>
    <body>
      <div class="header"></div>
      <div class="error_msg">
        <%= msg %>
      </div>
      <div class="middle"></div>

      <script src="/components/login.jsx" type="text/jsx"> </script>
    </body>
</html>
