<!doctype html>
<html>
<head>
  <title>Signing up</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="/javascripts/react.js"></script>
  <script src="/javascripts/JSXTransformer.js"></script>


</head>
<body>
  <div class="header_sign_up"></div>
  <div class="error_msg">
    <%= msg %>
  </div>
  <div class="content">
  </div>
  <script src="/components/sign_up.jsx" type="text/jsx"></script>
</body>
</html>
