<!doctype html>
<html>
  <head>
    <title>Twitter </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/javascripts/react.js"></script>
    <script src="/javascripts/JSXTransformer.js"></script>
    <script src="/javascripts/ajax.js"></script>
  </head>
  <body>

    <div class="user_header"></div>
    <div class="user_content"></div>
    <script src="/components/user.jsx" type="text/jsx"></script>
  </body>
</html>
