body {
  background-image: url('/images/sea-wallpaper-for-walls-websites-to-download-9pki1zam.jpg');
}
.error_msg {
  border: 2px dashed #DEF3F4;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  color: red;
  display: inline-block;
  margin-left: 638px;
}
.content{
  margin: 10px;
}
.footer{
  border: 1px solid #00A8E9;
  height: 60px;
}
.foo{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
div#name {
  padding-right: 30px;
}
.middle {
  border: 1px solid blanchedalmond;
  margin: 50px 634px;
  padding: 20px;
}
.left{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  float: left;
}
a:hover{
  background-color: #003300;
  color: yellow;
}
.options a{
  color: #FFFFFF;
  padding: 5px 10px;
  color: #FFFFF5;
  font-weight: bold;
}
.image{
  padding: 5px;
}
.header{
  height: 141px;
  width: 100%;
  background-image: url('/images/images.jpg');
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.insert{
  margin-top: 68px;
  margin-left: 636px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.font-color{
  padding: 5px;
}
span#HOME {
  margin-top: 73px;
  margin-left: 503px;
}
.insert_login{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header_sign_up{
  height: 141px;
  width: 100%;
  background-image: url('/images/images.jpg');
}
span#change_font {
  font-size: 18px;
  color: white;
}
.home{
  margin: 24px;
}
.user_header{
  background-image: url("/images/tweeties_free_twitter_icons1.jpg");
  height: 331px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.headings{
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 25px;
}
.logout a{
  color: #ffff;
}
.bold{
  font-family: sans-serif;
  font-weight: 800;
  font-size:30px;
}
.user_content{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}
#enter_tweets{
  margin-top:20px;
}
#user_name{
  border: 2px solid #0C2EA7;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  text-transform: capitalize;
  height: 26px;
  width: 154px;
}
.user_tweet{
  border: 3px solid #ABE2FF;
  margin: 20px;
  min-height: 50px;
  min-width: 200px;
}
#in_header{
  display:flex;
  flex-direction: row;
  align-items: center;
  background-color: #33699D;
  margin: 5px;
  padding: 10px;
}
.form_login{
  margin: 41px;
}
